:root {
    --primary-color: #6495ED;
}

.cvWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.cvHeader {
    display: grid;
    grid-template-columns: 20% 80%;
    min-height: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    margin: 15px;
}

.cvImage {
    height: 150px;
    border-radius: 50px;
}

.cvTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
    color: white;
}

.cvBody {
    display: grid;
    grid-template-columns: 75% 25%;
    margin: 15px;
}

.cvBodyLeft {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 10px;
}

.cvHighlights {
    display: flex;
    flex-direction: column;
}

.cvHighlightsItems {
    display: flex;
}

.cvHighlightsItems svg {
    padding: 0 5px;
}

.cvSectionItemWrapper {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.cvSectionItemDuration {
    flex: 1;
}

.cvSectionItemDetails {
    flex: 3;
}

.jobResponsibilities {
    display: flex;
    flex-direction: column;
}

.jobResponsibilitiesItems {
    display: flex;
}

.jobResponsibilitiesItems svg {
    padding: 0 5px;
    width: 15px;
    height: 15px
}

.cvBodyRight {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background-color: #f4f4f4;
}

.sectionItems {
    display: flex;
    flex-direction: column;
}

.sectionTitle {
    color: var(--primary-color);
    font-size: .75rem;
}

.educationHistory .sectionItems {
    margin-bottom: 15px;
}

.cvBodyRight .sectionItems {
    margin-bottom: 15px;
}

.headBlock {
    font-weight: bold;
}

.headBlockSub {
    padding-left: 30px;
}

.subHeadBlock {
    font-style: italic;
}

.xlg-textBlock {
    font-size: 2rem;
}

.lg-textBlock {
    font-size: 1rem;
}

.md-textBlock {
    font-size: .80rem;
}

.sm-textBlock {
    font-size: .60rem;
}

ul {
    padding-inline-start: 10px;
}

